body {
    background: #232529;
    margin: 0;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    /*fill: #195ffb;*/
    stroke: #195ffb;
    /*stroke: url(#LinearGradient);*/
    stroke-width: 2.9;
    opacity: 1;
    /*filter: drop-shadow(1px 1px .25px #7B7A72);*/
}

/* stroke length = 151.985595703125 */

.path {
    stroke-dasharray: 75.9927978515625;
    stroke-dashoffset: 151.985595703125;
    animation: dash 2s forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.3,0,.3,1);
    opacity: .3;
    /*stroke: url(#LinearGradient);*/
    stroke: #5421C9;
    stroke-width: 3;
    /*filter: drop-shadow(1px 1px 1px #D814F3);*/
}

.fauxGradient1 {
    stroke-dasharray: 75.9927978515625;
    stroke-dashoffset: 151.985595703125;
    animation: dash 2s forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.35,0,.35,1);
    opacity: .2;
    /*stroke: url(#LinearGradient);*/
    stroke: #5421C9;
    stroke-width: 2.9;
}

.fauxGradient2 {
    stroke-dasharray: 75.9927978515625;
    stroke-dashoffset: 151.985595703125;
    animation: dash 2s ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.4,0,.4,1);
    opacity: .2;
    /*stroke: url(#LinearGradient);*/
    stroke: #5421C9;
    stroke-width: 2.8;
}

.fauxGradient3 {
    stroke-dasharray: 75.9927978515625;
    stroke-dashoffset: 151.985595703125;
    animation: dash 2s ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.45,0,.45,1);
    opacity: .2;
    /*stroke: url(#LinearGradient);*/
    stroke: #5421C9;
    stroke-width: 2.25;
}

.fauxGradient4 {
    stroke-dasharray: 75.9927978515625;
    stroke-dashoffset: 151.985595703125;
    animation: dash 2s ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.5,0,.5,1);
    opacity: .1;
    /*stroke: url(#LinearGradient);*/
    stroke: #5421C9;
    stroke-width: 1;
}

.uh {
    /*filter: drop-shadow(1px 1px .25px #7B7A72);*/
    fill: whitesmoke;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}